Tests: polkitd
Depends: polkitd
Restrictions: isolation-container, skippable

Tests: polkitd-root
Depends: polkitd
Restrictions: isolation-container, needs-root, skippable

Tests: pkexec
Depends: pkexec
Restrictions: isolation-container, needs-sudo, skippable
