Package: kde-fan-control-dbgsym
Package-Type: ddeb
Source: kde-fan-control
Version: 1.0.3-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Samiran Amiran <sherwin@amiran.us>
Installed-Size: 2927
Depends: kde-fan-control (= 1.0.3-1)
Section: debug
Priority: optional
Description: debug symbols for kde-fan-control
Build-Ids: bc4aa049e691eec3445b9cf84494c4ca65e3678c
