[Desktop Entry]
Type=Application
Name=Fan Control
Comment=KDE fan control daemon interface
Icon=org.kde.fancontrol
Exec=kde-fan-control-gui
Categories=System;Monitor;
StartupNotify=true
StartupWMClass=kde-fan-control-gui
DBusActivatable=false
